<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go back home</a>
            <form action="/edit" method="post">
                <input class="block rounded-md px-5 py-2 bg-zinc-700 font-light" name="previous" type="text" value="<%= filename%>">
                <input class="block rounded-md px-5 py-2 bg-zinc-800 mt-2" name="new" type="text" placeholder="New Name">
                <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update Task Name">
        </div>
    </div>
</body>
</html>